.nav-container1 {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    background-color: #2196F3;
    grid-gap: 10px;    
    padding: 10px;
    margin-bottom: 10px;
}

.nav-container1 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.nav-item {
    color: black;
    text-decoration: none;
    font-size: 11px;
}

.nav-container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2196F3;
    grid-gap: 10px;    
    padding: 10px;
    margin-bottom: 10px;
}

.nav-container2 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.nav-item-justify {
    color: white;
    text-decoration: none;
    font-size: 14px;
    background-color: purple;
}

.nav-container3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #2196F3;
    grid-gap: 10px;    
    padding: 10px;
    margin-bottom: 10px;
}

.nav-container3 > div {
    background-color: rgba(6, 94, 3, 0.8);
    text-align: center;
}

.nav-grid-item {
    text-decoration: none;
    font-size: 14px;
    color: white;
}