.nav-container1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #2196F3;
    grid-gap: 10px;    
    padding: 10px;
    margin-bottom: 10px;
}

.nav-container1 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2196F3;
    grid-gap: 10px;    
    padding: 10px;
    margin-bottom: 10px;
}

.nav-container2 > div {
    background-color: rgba(250, 2, 2, 0.8);
    text-align: center;
}

.nav-item-justify {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-container3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #2196F3;
    grid-gap: 10px;    
    padding: 10px;
    margin-bottom: 10px;
}

.nav-container3 > div {
    background-color: rgba(6, 94, 3, 0.8);
    text-align: center;
}

.nav-grid-item {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.nav-container4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #2196F3;
    grid-gap: 10px;    
    padding: 10px;
    margin-bottom: 10px;
}

.nav-container4 > div {
    background-color: rgba(255, 0, 221, 0.8);
    text-align: center;
}

.nav-item-align{
    text-decoration: none;
    font-size: 14px;
    color: white;
}



.nav-item-items {
    text-decoration: none;
    font-size: 14px;
    color: white;
}


.nav-container5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #2196F3;
    grid-gap: 10px;    
    padding: 10px;
    margin-bottom: 10px;
}

.nav-container5 > div {
    background-color: rgba(0, 4, 255, 0.8);
    text-align: center;
}

.nav-container6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #2196F3;
    grid-gap: 10px;    
    padding: 10px;
    margin-bottom: 10px;
}

.nav-container6 > div {
    background-color: rgba(104, 0, 201, 0.8);
    text-align: center;
}

.nav-item-template {
    text-decoration: none;
    font-size: 14px;
    color: white;   
}